* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #495e57;
  color: #f5f7f8;
}

.App {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 100vh;
  max-width: 1400px;
  width: 100%;
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 100%;
  max-width: 1450px;
}

.navElements ul {
  list-style-type: none;
}

.navElement {
  display: inline;
  margin: 1rem;
}

.CircularProgressbar-path {
  stroke: #f4ce14 !important;
}

.CircularProgressbar-trail {
  stroke: #495e57 !important;
}

.CircularProgressbar-text {
  fill: yellow !important;
}

.CircularProgressbar-background {
  fill: #495e57 !important;
}

.theInput {
  filter: drop-shadow(0px 0px 4px #4b4b4b);
}

.theFormControl {
  margin: 0.5rem 0 1rem 0;
}

.footer {
  height: fit-content;
  border-radius: 16px 16px 0 0;
}

.gallery-item-info {
  position: absolute;
  bottom: 10%;
  z-index: 1;
  transform: translateX(-20%);
  color: #dbd8d6;
  color: white;

  .gallery-info-title {
    line-height: 6vw;
    font-weight: 600;

    font-size: 6vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #495e57;
  }

  .gallery-info-subtitle {
    position: relative;
    line-height: 6vw;
    color: transparent;
    font-weight: 400;
    font-size: 6vw;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 2px #dbd8d6;
  }

  .gallery-info-category {
    position: relative;
    line-height: 24px;
    font-weight: 400;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    margin-top: 2vh;
  }
}

.navLink {
  margin-top: 1rem;
  cursor: pointer;
  writing-mode: vertical-rl;
}
.Hoizontal {
  li {
    writing-mode: horizontal-tb;
  }
}

.redNavLink {
  color: #f4ce14;
}

.progress-bar {
  position: fixed;
  height: 200px;
}
